@import "../color.scss";


.hero-section{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: $color-primary;
    display: flex;
    z-index: 9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 0 0 200px 200px;
    .hero-text{
        h1{
            color:$color-third;
            font-size: 4rem;
            font-weight: 700;
            text-align: center;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }
        p{
            color: $color-third;
            font-size: 1rem;
            font-weight: 900;
        }
    }
&::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: no-repeat center url("../img/hero-bg.png");
    background-size: cover;
}
}
.hero-section2{
    height: 100%;
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-color: $color-fourth;
    display: flex;
    margin-top: -200px;
    z-index: -1;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    img{
        height: 500px;
        margin-top: 200px;
        width: 500px;
        transform: scaleX(-1);
    }
    .hero-text2{
        padding:0 1rem;
        h1{
            color:$color-primary;
            font-size: 4rem;
            font-weight: 700;
            text-align: start;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }
        p{
            color: $color-third;
            font-size: 1rem;
            font-weight: 500;
        }
    }
}

.hero-section3{
    height: 100%;
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-color: $color-fourth;
    display: flex;
    z-index: -1;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    .hero-text3{
        padding:0 1rem;
        background:$color-primary;
        width: 70%;
        border-radius: 0 100px 100px 0;
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        h1{
            color:$color-default;
            font-size: 4rem;
            font-weight: 700;
            text-align: start;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }
        p{
            color: $color-third;
            font-size: 1rem;
            font-weight: 500;
        }
    }
}
.brands{
    width: 100%;
    min-height: 11rem;
    height: auto;
    background-color: $color-primary;
    display: flex;
    justify-content: space-around;
    align-items: center;
    svg{
        height: 4.5rem;
        width: 4.5rem;
        min-width: 100px;
        color:$color-third;
    }
}